:where(html) {
  /* -------------------------------- FAMILIES -------------------------------- */
  --font-family-text: 'Red Hat Text', sans-serif;
  --font-family-text-italic: 'Red Hat Text Italic', sans-serif;
  --font-family-display: 'Red Hat Display', sans-serif;
  --font-family-display-italic: 'Red Hat Display Italic', sans-serif;
  --font-family-sans: sans-serif;
  --font-family-serif: serif;
  --font-family-monospace: monospace;

  /* ---------------------------------- SCALES -------------------------------- */
  --text-size-02: 0.75rem; /*---- 12px */
  --text-size-01: 0.875rem; /*--- 14px */
  --text-size-1: 1rem; /*-------- 16px */
  --text-size-2: 1.125rem; /*---- 18px */
  --text-size-3: 1.25rem; /*----- 20px */
  --text-size-4: 1.5rem; /*------ 24px */
  --text-size-5: 1.75rem; /*----- 28px */
  --text-size-6: 2rem; /*-------- 32px */
  --text-size-7: 2.25rem; /*----- 36px */
  --text-size-8: 2.625rem; /*---- 42px */
  --text-size-9: 3rem; /*-------- 48px */
  --text-size-10: 3.375rem; /*--- 54px */
  --text-size-11: 3.75rem; /*---- 60px */
  --text-size-11-5: 4rem; /*---- 64px */
  --text-size-12: 4.25rem; /*---- 68px */
  --text-size-13: 4.75rem; /*---- 76px */
  --text-size-14: 5.25rem; /*---- 84px */
  --text-size-15: 5.75rem; /*---- 92px */

  /* Shortcuts */
  --text-size-xs: var(--text-size-02);
  --text-size-sm: var(--text-size-01);
  --text-size-md: var(--text-size-1);
  --text-size-lg: var(--text-size-6);
  --text-size-xl: var(--text-size-9);
  --text-size-xxl: var(--text-size-12);

  /* --------------------------------- WEIGHTS -------------------------------- */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;
}
